* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App {
  min-height: 100vh;
  max-width: 1300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  background-color: black;
  width: 100%;
  display: flex;
  flex: 1;
}

@media (max-width: 915px) {

  .App {
    width: 100vw;
  }

  .main {
    flex-direction: column-reverse;
    justify-content: start;
    margin-top: 2rem;
  }
}