.Header {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  width:100%;
}

#collatzImage {
  width: 300px;
  position: absolute;
  transition: 0.5s ease;
}

#collatzImage:hover {
  width: 400px;
  top: 0px;
  border: solid 2px rgb(91, 234, 120);
  border-radius: 5px;
}

.h1 {
  margin: 2rem 0;
  font-size: 4rem;
  flex: 1;
  text-align: center;
}