.Header {
  background-color: black;
  color: white;
  align-items: center;
  width:100%;
}

.logoAndTitle {
  display: flex;
}

#collatzImage {
  width: 300px;
  position: absolute;
}

#collatzImage:hover {
  width: 400px;
  top: 0px;
  border: solid 2px rgb(91, 234, 120);
  border-radius: 5px;
}

.h1 {
  margin: 2rem 0;
  font-size: 4rem;
  flex: 1;
  text-align: center;
}

#modal {
  background-color: black;
  border: solid 2px rgb(91, 234, 120);
  border-radius: 5px;
  position: relative;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: min-content;
  height: fit-content;
}

.closeButton {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -5px;
  right: 10px
}

.modalText {
  margin: 1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

.link {
  text-decoration: none;
  color: rgb(91, 234, 120);
}

.hide {
  display: none;
}

@media (max-width: 1140px) {
  #collatzImage {
    position: relative;
  }
}

@media (max-width: 925px) {
  .logoAndTitle {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }

  #collatzImage {
    width: 400px;
  }

  #modal {
    width: 90vw;
  }

  .modalImg {
    width: 100%;
    
  }
}

@media (max-width: 500px) {
  #collatzImage:hover {
    border: none;
  }
}